In [1]:
#Importing the required libraries
import numpy as np
import pandas as pd

In [2]:
#Reading a csv file
df = pd.read_csv('bigmart.csv')

In [3]:
#Dimensions of the dataframe
df.shape

(8523, 12)

In [4]:
#First 5 rows of the dataframe
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
#Selecting Item_Visibility and Item_MRP columns
data = df[['Item_Visibility', 'Item_MRP']]
data.head()

   Item_Visibility  Item_MRP
0         0.016047  249.8092
1         0.019278   48.2692
2         0.016760  141.6180
3         0.000000  182.0950
4         0.000000   53.8614

**We can see that both variables are on different scales. Let's bring them to the same scale**

## Min Max Scaler

<img src = "min_max_scaler.jpg">

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
#Apply MinMaxScaler on Item_Visibility and Item_MRP columns
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Item_Visibility', 'Item_MRP'])
scaled_data.head()

   Item_Visibility  Item_MRP
0         0.048866  0.927507
1         0.058705  0.072068
2         0.051037  0.468288
3         0.000000  0.640093
4         0.000000  0.095805

In [8]:
scaled_data.describe()

       Item_Visibility     Item_MRP
count      8523.000000  8523.000000
mean          0.201382     0.465635
std           0.157123     0.264327
min           0.000000     0.000000
25%           0.082187     0.265437
50%           0.164228     0.474209
75%           0.288026     0.655156
max           1.000000     1.000000

## Standard Scaler

<img src = "standard_scaler.gif">

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
#Apply StandardScaler on Item_Visibility and Item_MRP columns
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Item_Visibility', 'Item_MRP'])
scaled_data.head()

   Item_Visibility  Item_MRP
0        -0.970732  1.747454
1        -0.908111 -1.489023
2        -0.956917  0.010040
3        -1.281758  0.660050
4        -1.281758 -1.399220

In [11]:
scaled_data.describe()

       Item_Visibility      Item_MRP
count     8.523000e+03  8.523000e+03
mean      1.822365e-16 -1.637654e-16
std       1.000059e+00  1.000059e+00
min      -1.281758e+00 -1.761688e+00
25%      -7.586531e-01 -7.574307e-01
50%      -2.364792e-01  3.243893e-02
75%       5.514755e-01  7.170372e-01
max       5.083050e+00  2.021724e+00