# Max voting

<img src = 'max_vote.png'>

In [1]:
#Importing required libraries
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Reading a csv file
df = pd.read_csv('titanic_cleaned.csv')

In [3]:
#Dimension of a dataframe
df.shape

(891, 25)

In [4]:
#First 5 rows of a dataframe
df.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [5]:
#Seperating Indepedent and Dependent variables
X = df.drop('Survived', axis=1)
y = df['Survived']

In [6]:
#Creating a Training and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y)

### Implement Logistic Regression

In [7]:
from sklearn.linear_model import LogisticRegression                    #Importing Logistic Regression
model1 = LogisticRegression()                                          #Creating an instance of Logistic Regression
model1.fit(X_train, y_train)                                           #Training a model
pred1 = model1.predict(X_test)                                         #Make a predictions
print("Logistic Regression Score : ",model1.score(X_test, y_test))     #Evaluate a Logistic Regression model

Logistic Regression Score :  0.8547486033519553

### Implement K Nearest Neighbors

In [8]:
from sklearn.neighbors import KNeighborsClassifier                     #Importing KNN Classifier
model2 = KNeighborsClassifier(n_neighbors=5)                           #Creating an instance of KNN Classifier
model2.fit(X_train, y_train)                                           #Training a model
pred2 = model2.predict(X_test)                                         #Make a predictions
print("KNN Score : ", model2.score(X_test, y_test))                    #Evaluate a KNN Classifier

KNN Score :  0.7206703910614525

### Implement Decision Tree

In [9]:
from sklearn.tree import DecisionTreeClassifier                        #Importing Decision Tree Classifier
model3 = DecisionTreeClassifier(max_depth=7)                           #Creating an instance of Decision Tree Classifier
model3.fit(X_train, y_train)                                           #Training a model
pred3 = model3.predict(X_test)                                         #Make a predictions
print("Decision Tree Score : ", model3.score(X_test, y_test))          #Evaluate a Decision Tree Classifier

Decision Tree Score :  0.8044692737430168

In [10]:
#Make final predictions by using mode of results of above three models
from statistics import mode
final_pred = np.array([])
for i in range(0, len(X_test)):
    final_pred = np.append(final_pred, mode([pred1[i], pred2[i], pred3[i]]))
print(final_pred)

[1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1.
 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 1.
 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1. 0.
 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0.
 1. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0.]

In [11]:
#Calculating Accuracy of Logistic Regression, KNN Classifier, Decision Tree Classifier and Ensembled Model
from sklearn.metrics import accuracy_score
print("Logistic Regreesion Accuracy : ", accuracy_score(y_test, pred1))
print("KNN Classifier Accuracy : ", accuracy_score(y_test, pred2))
print("Decision Tree Accuracy : ", accuracy_score(y_test, pred3))
print("Ensembled Model Accuracy : ", accuracy_score(y_test, final_pred))

Logistic Regreesion Accuracy :  0.8547486033519553
KNN Classifier Accuracy :  0.7206703910614525
Decision Tree Accuracy :  0.8044692737430168
Ensembled Model Accuracy :  0.8547486033519553